<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/board/detail.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#edit_form").hide();
			$("#edit_btn").click(edit_btn_clicked);
			//$("#edit_done_btn").click(edit_done_btn_clicked);
			
		});
		
		function edit_btn_clicked(){ //수정 버튼 누르면
			$("#edit_form").show(); //수정폼 나와주세요
			$("#detail_form").hide(); //원래 detail폼 숨겨주세요
		}
	</script>
</head>
<body>

   <th:block th:insert="/HeaderFooter::header">
   </th:block>
   
   <main >
		<section>
			<div class="board-subject flex-around">
				<span>개발자 포럼</span>
				<span>개발자들끼리 API 관련 개발시 궁금한 점을 서로 묻고 답할 수 있는 열린 공간입니다.</span>
			</div>
		</section>
		<section>
			<table id="detail_form">
				<tr>
					<td>no</td>
					<td th:text="${detail.no}"></td>
				</tr>
				<tr>
					<td>이미지</td>
					<td>
						<img th:src="${detail.img.fileUrl}" width="150px">
					</td>
				</tr>
				<tr>
					<td>제목</td>
					<td>[[${detail.subject}]]</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>[[${detail.contents}]]</td>
				</tr>
				<tr>
					
					<td colspan="2" >
						
						<button type="submit" id="edit_btn">수정</button>
						<a href="#"><button type="button">취소</button></a>
					</td>
				</tr>
			</table>
				<!-- ------------------------수정하기 눌렀을때 변환되는 폼---------------------------- -->
				<form action="/img/edit" method="post" id="edit_form">
					<table>
						<tr>
							<td>no</td>
							<td th:text="${detail.no}"></td>
						</tr>
						<tr>
							<td>이미지</td>
							<td>
								<img th:src="${detail.img.fileUrl}" width="150px">
							</td>
						</tr>
						<tr>
							<td>제목</td>
							<td><input type="text" name="subject" th:value="${detail.subject}"></td>
						</tr>
						<tr>
							<td>내용</td>
							<td><input type="text" name="contents" th:value="${detail.contents}"></td>
						</tr>
						<tr>
							
							<td colspan="2" >
								<input type="hidden" name="no" th:value="${detail.no}">
								<button type="submit">수정완료</button>
								<a th:href="|/img/delete/${detail.no}|"><button type="button">삭제</button></a>
							</td>
						</tr>
					</table>
				</form>
		</section>
	</main>
	
   <th:block th:insert="/HeaderFooter::footer">
   </th:block>
   
</body>
</html>