<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	/* jquery ready */
	$(function(){
		$("#email").blur(emailCheck); //blur:포커스가 들어갔다가 나왔을때 자기자신만 체크한다
	});
	
	function emailCheck(){
		var _email = $("#email").val().trim();
		if(_email==""){
			$(this).next().text("이메일을 입력해주세요!"); //	$(this)지금선택한input의 .next()다음(span)에 .text글자 넣어주세요	
			return; //return은 함수종료제어권이있다
					//emailCheck()함수가 돌아갈때 _email이 공백이면 msg찍을 필요 없이 그냥 종료해버린다.
			
			/*추가 설명
			- val, text를 쓸 수있고 안의 내용을 읽어들인다.								
			- trim()을 이용해서 공백처리 꼭 해주기
			- val:value값을 ()안에 셋팅해주거나 읽어들인다 -> form의 요소들
			- text:태그 안에 써져있는 글자를 읽는다 <div>aa</div> <p>bb</p>안에 써져있는 글자들을 읽는다
			*/
		}							
			//email체크 ajax, $.post: $(selector).post(URL,data,function(data,status,xhr),dataType)
			$.post(
					"/member/emailCheck",
					{"email": _email},
					function(result){
						if(result==1){
							$(".msg").text("사용가능한 이메일입니다.").css("color","green");
						}else{
							$(".msg").text("이미 존재하거나 탈퇴한 이메일입니다.").css("color","red");
						}
					}
			);

	}
	

</script>


<style type="text/css">
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,ul{
	list-style: none;
}
.page-tit{
	font-size: 48px;
	font-weight: 700px;
}
.main-wrap{
	width: 350px;
	margin: 0 auto;
}
.main-wrap form span{
	color: red;
}
.main-wrap form dl{
	margin-bottom: 20px;
}
.main-wrap form input{
	width: 100%;
	padding: 0.5em 1em;
}
.main-wrap form button{
	width: 100%;
	padding: 0.5em 1em;
	background-color: #6688cc;
	color: #fff;
}
</style>
</head>

<body>
   <th:block th:insert="/HeaderFooter::header">
   </th:block>
   
   <main>
   <h1>join</h1>
		<div class="main-wrap">
			<p class="page-tit">Create Your Account</p>
			<form action="/member/join" method="post">
				<dl>
					<dt>Username<span>*</span></dt>
					<dd>
						<input type="text" name="name">
					</dd>
				</dl>
				<dl>
					<dt>Email adress<span>*</span></dt>
					<dd>
						<input id="email" type="text" name="email">
						<span class="msg"></span>
					</dd>
				</dl>
				<dl>
					<dt>password<span>*</span></dt>
					<dd>
						<input type="text" name="password">
					</dd>
				</dl>
				<ul>
					<li>
						<button type="submit">Create Account</button>
					</li>
				</ul>
			
			</form>
		</div>
	</main>
	
	
	
	
   <th:block th:insert="/HeaderFooter::footer">
   </th:block>
</body>
</html>