<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
<style type="text/css">
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,ul{
	list-style: none;
}
.page-tit{
	font-size: 48px;
	font-weight: 700px;
}
.main-wrap{
	width: 350px;
	margin: 0 auto;
}
.main-wrap form span{
	color: red;
}
.main-wrap form dl{
	margin-bottom: 20px;
}
.main-wrap form input{
	width: 100%;
	padding: 0.5em 1em;
}
.main-wrap form button{
	width: 100%;
	padding: 0.5em 1em;
	background-color: #6688cc;
	color: #fff;
}
</style>
</head>

<body>
   <th:block th:insert="/HeaderFooter::header">
   </th:block>
   
   <main>
   <h1>join</h1>
		<div class="main-wrap">
			<p class="page-tit">Create Your Account</p>
			<form action="/member/join" method="post">
				<dl>
					<dt>Username<span>*</span></dt>
					<dd>
						<input type="text" name="name">
					</dd>
				</dl>
				<dl>
					<dt>Email adress<span>*</span></dt>
					<dd>
						<input type="text" name="email">
					</dd>
				</dl>
				<dl>
					<dt>password<span>*</span></dt>
					<dd>
						<input type="text" name="password">
					</dd>
				</dl>
				<ul>
					<li>
						<button type="submit">Create Account</button>
					</li>
				</ul>
			
			</form>
		</div>
	</main>
	
	
	
	
   <th:block th:insert="/HeaderFooter::footer">
   </th:block>
</body>
</html>