@charset "UTF-8";


.subject1{
	display: table-cell;
    padding: 21px 30px;
    vertical-align: middle;
    width: 250px;
    background-color: #fafafa;
    border-top: 1px solid #e7e8ea;
    border-bottom: 1px solid #e7e8ea;
    margin: 94px -3.2px 0 0;
}
.subject2{
	display: table-cell;
    padding: 21px 30px;
    vertical-align: middle;
    width: 350px;
    border-top: 1px solid #e7e8ea;
    border-bottom: 1px solid #e7e8ea;
    margin: 94px -3.2px 0 0;
}
.contents1{
	display: table-cell;
    padding: 100px 30px;
    vertical-align: middle;
    width: 250px;
    background-color: #fafafa;
    border-bottom: 1px solid #e7e8ea;
}
.contents2{
	display: table-cell;
    padding: 100px 30px;
    vertical-align: middle;
    width: 350px;
    border-bottom: 1px solid #e7e8ea;
}
.form-wrap form button{
	margin: 30px 0 30px 0;
}
